body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red {
  background-color: red;
}
.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.box {
  width: 100px;
  height: 100px;
}

/* display model */
.box-container {
  width: 100%;
  height: 92vh;

  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap-reverse;
  /* Horizontally */
  justify-content: space-evenly;
  /* Vertically */
  align-items: center;
}

.box-container1 {
  width: 100%;
  height: 92vh;

  background-color: orangered;
  display: flex;

  flex-direction: column;

  /* Vertically */
  /* justify-content: space-evenly; */
  /* Horizontally */
  align-items: flex-end;
}

.container {
  width: 100%;
  height: 92vh;

  background-color: peru;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.sub-container1 {
  width: 100%;
  height: 120px;
  background-color: blueviolet;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-container2 {
  width: 100%;
  height: 120px;
  background-color: black;
}
.sm-box {
  width: 50px;
  height: 50px;
}


